
body {
    font-family: Trebuchet MS, sans-serif;
    background: linear-gradient(to right, #f9bec7, #fae0e4, #f9bec7); 
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Título da página */
h1 {
    font-weight: 700; 
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #64000d;
    text-shadow: 1px 1px 2px #fff; 
}


/* Texto normal */
p {
    font-weight: 400; /* Expessura da fonte */
    font-size: 1.5em;
    color: #721925;
}


.formas-container {
    display: flex; 
    justify-content: space-around;
    align-items: center; 
    margin-top: 20px; 
    
}


.formas-container img {
    width: 300px; 
    height: auto;
    border-radius: 15px; /* Bordas arredondadas nas imagens */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


.formas-container p {
    text-align: center;
    font-size: 1.4em;
    margin-top: 10px;
}






#pagina-circulo {
    background-color: #fddcdc; 
    min-height: 100vh; 
    color: #721925;
}

#pagina-circulo .formas-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    color: #721925;
}

#pagina-circulo .formas-container img {
    width: 200px; 
    height: auto; 
    margin-top: 20px; 
}

#pagina-circulo .formas-container p {
    font-size: 1.2em; 
    margin-top: 10px; 
    
    
}


#pagina-retangulo {
    background-color: #fddcdc; 
    min-height: 100vh; 
    color: #721925;
}

#pagina-retangulo .formas-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    color: #721925;
}

#pagina-retangulo .formas-container img {
    width: 200px; 
    height: auto; 
    margin-top: 20px; 
}

#pagina-retangulo .formas-container p {
    font-size: 1.2em; 
    margin-top: 10px; 
    
}


#pagina-triangulo {
    background-color: #fddcdc; 
    min-height: 100vh; 
    color: #721925;
}

#pagina-triangulo .formas-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    color: #721925;
}

#pagina-triangulo .formas-container img {
    width: 200px; 
    height: auto;
    margin-top: 20px; 
}

#pagina-triangulo .formas-container p {
    font-size: 1.2em;
    margin-top: 10px; 
}




button {
    background-color: #ff6f61; 
    color: #fff; 
    border: none;
    border-radius: 5px; 
    padding: 10px 20px;
    font-size: 1em; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
    margin-top: 10px; 
}


button:hover {
    background-color: #ff3d3d; 
    transform: scale(1.05); 
}


button:active {
    background-color: #e60000; 
    transform: scale(0.95);
}





.voltar-home {
    display: inline-block;
    background-color: #ff6f61; 
    color: #fff;
    border: none;
    border-radius: 25px; 
    padding: 12px 24px; 
    font-size: 1.1em; 
    cursor: pointer;
    text-decoration: none; 
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


.voltar-home:hover {
    background-color: #ff3d3d;
    transform: scale(1.05);
}


.voltar-home:active {
    background-color: #e60000;
    transform: scale(0.95);
}



